<div class="row">
    <div class="col-sm-2">
    2021
    </div>
    <div class="col-sm-10">
      <span class="font-weight-bold"> Harvard Quantum Initiative Postdoctoral Fellowship </span>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
       Fellowship in Quantum Science and Engineering.
    </div>
  
    <div class="col-sm-2">
    2012
    </div>
    <div class="col-sm-10">
      <span class="font-weight-bold"> Percy Pemberton Prize </span>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
       Awarded for the most distinguished first year student at Trinity College.
    </div>
  
    <div class="col-sm-2">
    2012
    </div>
    <div class="col-sm-10">
      <span class="font-weight-bold"> Senior scholar of Trinity College </span>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
       Awarded for exceptional result at first year Tripos exams.
    </div>
  
    <div class="col-sm-2">
    2011
    </div>
    <div class="col-sm-10">
      <span class="font-weight-bold"> Trinity College Overseas Bursary </span>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
       Merit-based scholarship covering the full cost of studying at the University of Cambridge.
    </div>
  
    <div class="col-sm-2">
    2009-2011
    </div>
    <div class="col-sm-10">
      <span class="font-weight-bold"> Medals at international science competitions </span>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
       Medals at the 42nd International Physics Olympiad, the 4th and 5th International Olympiad on Astronomy and Astrophysics and the 14th International Astronomy Olympiad.
    </div>
  
  <div>