<div class="row">
    <div class="col-sm-4">
        <span class="font-weight-bold"> Programming languages </span>
    </div>
    <div class="col-sm-8">
       Python, C#, Mathematica and Rust 
    </div>

    <div class="col-sm-4">
        <span class="font-weight-bold"> Version control </span>
    </div>
    <div class="col-sm-8">
        git and <a href="https://github.com/ognjenmarkovicc">GitHub</a> 
    </div>

    <div class="col-sm-4">
        <span class="font-weight-bold"> Computer-aided design </span>
    </div>
    <div class="col-sm-8">
        Autodesk Inventor 
    </div>

    <div class="col-sm-4">
        <span class="font-weight-bold"> Data analysis </span>
    </div>
    <div class="col-sm-8">
        numpy, scipy, pandas, classical statistics, machine learning (scikit-learn and TensorFlow)
    </div>

    <div class="col-sm-4">
        <span class="font-weight-bold"> Visualization </span>
    </div>
    <div class="col-sm-8">
        matplotlib, Adobe Illustrator and PowerPoint
    </div>

    <div class="col-sm-4">
        <span class="font-weight-bold"> Hardware </span>
    </div>
    <div class="col-sm-8">
        Optical systems design and prototyping, machining, analog electronics, PID control and vacuum systems
    </div>

    <div class="col-sm-4">
        <span class="font-weight-bold"> Languages </span>
    </div>
    <div class="col-sm-8">
        English (Fluent), Serbian (Native)
    </div>

</div>